.card {
  background-color: rgb(190, 187, 187);
}

.card:hover {
  background-color: rgb(104, 104, 104);
  color: white;
}

.card:hover div p.text-body-secondary {
  color: rgb(211, 211, 211) !important;
}